@* @model TModel *@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Secured Javascript Web App</title>
</head>
<body>
<h1>Js Web App - Home Page</h1>

<button onclick="signIn()">SignIn</button>

<script src="~/sign-in.js"></script>
</body>
</html>