@* @model object *@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Manage</title>
</head>
<body>
<h1>Manage Page</h1>
<ul>
    <li>
        <a href="/home/login">LogIn</a>
    </li>
    <li>
        <a href="/home/register">Register</a>
    </li>
    <li>
        <a href="/home/secret">Secret</a>
    </li>
    <li>
        <a href="/home/manage">Manage</a>
    </li>
    <li>
        <a href="/home/logout">LogOut</a>
    </li>
</ul>


<br>
Hey, You are <b>@Context.User.Identity.Name</b> ! aren't you? There's no secret!!!
<br>
    
</body>
</html>