@using Microsoft.AspNetCore.Http
@* @model object *@

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
<h1>Register Page</h1>
<ul>
    <li>
        <a href="/home/login">LogIn</a>
    </li>
    <li>
        <a href="/home/register">Register</a>
    </li>
    <li>
        <a href="/home/secret">Secret</a>
    </li>
    <li>
        <a href="/home/logout">LogOut</a>
    </li>
</ul>
<form method="post">
    <input type="text" name="username" value=""/>
    <input type="text" name="password" value=""/>
    <input type="text" name="email", value=""/>
    <button type="submit">Register</button>
</form>
<br>
<b>@Context.User.Identity.Name</b>
</body>
</html>