@* @model object *@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Secret</title>
</head>
<body>
<h1>Secret Page</h1>
<ul>
    <li>
        <a href="/home/login">LogIn</a>
    </li>
    <li>
        <a href="/home/register">Register</a>
    </li>
    <li>
        <a href="/home/secret">Secret</a>
    </li>
    <li>
        <a href="/home/manage">Manage</a>
    </li>
    <li>
        <a href="/home/logout">LogOut</a>
    </li>
</ul>

<br>
Hey, You are <b>@Context.User.Identity.Name</b> ! aren't you? There's no secret!!!
<br>

@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    var result = await AuthorizationService.AuthorizeAsync(User, "SiteManager");
    if (result.Succeeded)
    {
        var role = @User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Role)?.Value ?? "N/A";
        <p>You are <b>Manager</b>(Role=@role)</p>   
    }
    else
    {
        <p>You are just User</p>
    }
    
    <h3>Cookies</h3>
    <ul>
        @foreach(var cookie in Context.Request.Cookies)
        {
            <li>'@cookie.Key':@cookie.Value</li>
        }
    </ul>
    
    
}
</body>
</html>