@* @model object *@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Secret</title>
</head>
<body>
<h1>Secret Page</h1>
<ul>
    <li>
        <a href="/home/login">LogIn</a>
    </li>
    <li>
        <a href="/home/register">Register</a>
    </li>
    <li>
        <a href="/home/secret">Secret</a>
    </li>
    <li>
        <a href="/home/logout">LogOut</a>
    </li>
</ul>

</body>
</html>