@* @model TModel *@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Secured Mvc WebApp</title>
</head>
<body>
<h1>Secured Mvc WebApp - Home Page</h1>

<ul>
    <li>
        <a href="/home/secret">Secret</a>
    </li>
</ul>
</body>
</html>