@{
    Layout = null;
}
<!DOCTYPE html>


<html>
<head>
    <title>Example-OAuthServer</title>
</head>
<body>
<h1>OAuth Server Home</h1>

<ul>
    <li>
        <a href="/home/authenticate">Authenticate</a>
    </li>
    <li>
        <a href="/home/login">LogIn</a>
    </li>
    <li>
        <a href="/home/register">Register</a>
    </li>
    <li>
        <a href="/home/secret">Secret</a>
    </li>
    <li>
        <a href="/home/logout">LogOut</a>
    </li>
</ul>
</body>
</html>